.css-14ogpkq-MuiList-root{
    padding-left: 10px !important;
}

.MuiList-root.css-1mx4xfz-MuiList-root,
.MuiList-root.css-5s81k7-MuiList-root{
    padding: 0px !important;
    list-style-type: disc !important;
}

.css-14ogpkq-MuiList-root .MuiListItemButton-root .MuiListItemIcon-root{
    min-width: 0px !important;
}

.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.css-qyqmjj-MuiListItem-root::before {
    content: "•";
    color: white;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.MuiList-root.css-1mx4xfz-MuiList-root li:not(.active),
.MuiList-root.css-5s81k7-MuiList-root li:not(.active) {
    list-style-type: disc !important;
}

